<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<!DOCTYPE html>
<html>
  <head>
    <title>Foodie Cookbook</title>
  </head>

  <body style="background-color: #E0FFFF;">

    <header>
      <a href="/recipes">Homepage</a>
      <a href="/logout">Log Out</a>
      <h1 style="text-align: center;" id="header"> Foodie Cookbook </h1>
      <h2 style="text-align: center;" id="header"> Your Personal Online Cookbook </h2>
    </header>

    <h3>Edit Your Recipe: </h3>
    <form action="/recipes/<%=@recipe.id%>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="PATCH">
      <label for="recipe_name">Recipe Name: </label><input type="text" name="recipe_name" value="<%=@recipe.recipe_name%>"><br><br>
      <label for="cook_time">Cook Time: <input type="text" name="cook_time" value="<%=@recipe.cook_time%>"> minute(s)</label><br><br>
      <label for="ingredients">Ingredients: </label><input type="text" name="ingredients" size="100" value="<%=@recipe.ingredients%>"><br><br>
      <label for="instructions">Instructions: </label><input type="text" name="instructions" size="100" value="<%=@recipe.instructions%>"><br><br>
      <input type="submit" value="Edit Recipe">
    </form>

    <br><br>

    <p>Not sure you want to edit?</p>
    <p>I feel like cookin'! <a class="button" href="/recipes/new">Create a New Recipe</a></p>
    <p>View your personal recipe <a href="/users/<%=@current_user.slug%>">cookbook</a>.</p>

  </body>
</html>
