<!DOCTYPE html>
<html>
  <head>
    <title>Foodie Cookbook</title>
  </head>

  <body style="background-color: #E0FFFF;">

    <header>
      <a href="/recipes">Homepage</a>
      <a href="/logout">Log Out</a>
      <h1 style="text-align: center;" id="header"> Foodie Cookbook </h1>
      <h2 style="text-align: center;" id="header"> Your Personal Online Cookbook </h2>
    </header>


    <h3>Chef <%=@user.name%>'s Personal Cookbook</h3>
    <p>What would you like to create today? <a class="button" href="/recipes/new">Create a New Recipe</a></p>

    <br><br>

    <%@user.recipes.each do |recipe|%>
      <p>Recipe Name: <%= recipe.recipe_name%></p>
      <p>Cook Time: <%= recipe.cook_time%></p>
      <p>Ingredients: <%= recipe.ingredients%></p>
      <p>Instructions: <%= recipe.instructions%></p>
      <i><p>This recipe needs some <a href="/recipes/<%=recipe.id%>/edit">editing.</a> This recipe needs to be <a href="/recipes/<%=recipe.id%>/delete">deleted.</a> </p></i>
      <br><br>
    <%end%>

  </body>
</html>
